h1 {
    color: rgb(237, 246, 237);
}

body {
    background-color: rgb(128, 255, 0);
}

h1 {
    text-align: center;
    margin-top: 1.5%;
}

h1 {
    font-size: 350%;
}

h1 {
    font-family: "Saira", sans-serif;
}

.vertical-line {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2%;
    height: 45%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.reasons a,
.reasons a:visited,
.reasons a:hover,
.reasons a:active {
    font-weight: 600;
    font-family: "Saira", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 100%;
}



.looks {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 175, 50);
    border-color: rgb(255, 255, 255);
    border-width: 0.3vh;
    font-size: 250%;
    margin-left: 33%;
    margin-top: 3%;
    border-radius: 20%;
}

.looks.clicked {
    transform: scale(0.92);
}

.looks-text {
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 120%;
    border: 1vh solid white;
    padding: 2vh;
    border-radius: 2vh;
    width: 20%;
    height: 25%;
    background-color: rgb(50, 150, 50);
    z-index: 10;
}

.personality {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 175, 50);
    border-color: rgb(255, 255, 255);
    border-width: 0.3vh;
    font-size: 250%;
    margin-left: 33%;
    margin-top: 3%;
    border-radius: 20%;
}

.personality-text {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    font-size: 120%;
    border: 1vh solid white;
    padding: 2vh;
    border-radius: 2vh;
    width: 20%;
    height: 23%;
    background-color: rgb(50, 150, 50);
    z-index: 10;
}

.personality.clicked {
    transform: scale(0.92);
}

.Ideals.clicked {
    transform: scale(0.92);
}

.Ideals-text {
    display: none;
    position: absolute;
    top: 30%;
    left: 55%;
    color: white;
    font-size: 120%;
    border: 1vh solid white;
    padding: 2vh;
    border-radius: 2vh;
    width: 20%;
    height: 23%;
    background-color: rgb(50, 150, 50);
    z-index: 10;
}

.Ideals {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 175, 50);
    border-color: rgb(255, 255, 255);
    border-width: 0.3vh;
    font-size: 250%;
    left: 55%;
    top: 22%;
    border-radius: 20%;
    position: absolute;
}

.Time.clicked {
    transform: scale(0.92);
}

.Time-text {
    display: none;
    position: absolute;
    top: 40%;
    left: 55%;
    color: white;
    font-size: 120%;
    border: 1vh solid white;
    padding: 2vh;
    border-radius: 2vh;
    width: 20%;
    height: 23%;
    background-color: rgb(50, 150, 50);
    z-index: 10;
}

.Time {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 175, 50);
    border-color: rgb(255, 255, 255);
    border-width: 0.3vh;
    font-size: 250%;
    left: 55%;
    top: 33%;
    border-radius: 20%;
    position: absolute;
}



.Uno {
    width: 10%;
    height: 20%;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 70%;
    left: 74%;
}

.Dos {
    width: 10%;
    height: 20%;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 70%;
    left: 64%;
}

.Tres {
    width: 10%;
    height: 20%;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 74%;
}

.Cuatro {
    width: 10%;
    height: 20%;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 64%;
}

.us {
    font-size: 300%;
    position: absolute;
    color: white;
    top: 37%;
    left: 69%;
}

.Ein {
    width: 20vh;
    height: 20vh;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 25%;
}

.Zwei {
    width: 20vh;
    height: 20vh;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 50%;
    left: 15%;
}

.Drei {
    width: 20vh;
    height: 20vh;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 70%;
    left: 25%;
}

.Vier {
    width: 20vh;
    height: 20vh;
    border: 0.3vh solid white;
    border-radius: 20%;
    position: absolute;
    top: 70%;
    left: 15%;
}

.Tra {
    font-size: 300%;
    position: absolute;
    color: white;
    top: 37%;
    left: 20%;
}

.Letter.clicked {
    transform: scale(0.92);
}

.letter-text {
    display: none;
    position: absolute;
    top: 0%;
    left: 35%;
    color: white;
    font-size: 120%;
    border: 1vh solid white;
    padding: 2vh;
    border-radius: 2vh;
    width: 25%;
    height: 55%;
    background-color: rgb(50, 150, 50);
    z-index: 10;
}

.Letter {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 175, 50);
    border-color: rgb(255, 255, 255);
    border-width: 0.3vh;
    font-size: 250%;
    left: 36%;
    top: 65%;
    border-radius: 20%;
    position: absolute;
}
